.formControl {
  &.error {
    input {
      border: 1px red solid;
    }
    textarea {
      border: 1px red solid;
    }
    span {
      color: red;
    }
  }
}
.formSummaryError {
  margin-top: 10px;
  border: 1px red solid;
  padding: 5px;
  color: rosybrown;
}