.usersContainer {
  display: flex;
}
.usersMainContainer {
  display: grid;
  grid-template-rows: repeat(2, 2fr);
  grid-template-columns: repeat(2,2fr);
}
.usersContainerItemRight {
  margin-left: auto;
}
.usersAvatarImg {
  max-width: 100px;
}
.paginationBlock {
  margin: 20px 0px;
}
.pageNum {
  margin-right: 5px;
  &:hover {
    cursor: pointer;

  }
}
.selectedPage {
  font-weight: bold;
}