.header {
  grid-area: header;
  background-color: green;
  display: flex;
  align-items: center;
  img {
    width: 75px;
  }
}
.logoContainer {
  padding-top: 10px;
}
.loginBlock {
  margin-left: auto;
  margin-right: 20px;
  a {
    margin:auto;
    color: white;
    text-decoration: none;
  }
}
.profileMenuLinks {
  text-decoration: none;
  color: black;
  &:hover {
    color: red;
  }
}