.descriptionBlock {
  padding: 10px;
}

.imgMain {
  max-width: 200px;
}

.profileInfoInput {
  margin-top: 10px;
}

.aboutMe {
  margin-bottom: 15px;
}

.profileAvatar {
  margin-top: 20px;
  position: relative;
  margin-left: 5px;
  display: inline-flex;
  &:hover {
    cursor: pointer;
    img {
        filter: brightness(0.4);
        transition: all 0.8s ease;
    }
    .photosInputContainer {
      display: block;
      z-index: 1;
    }
  }
}

.photosInputContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-30px, -24px);
  display: none;
  transition: all 3s ease;
  cursor: pointer;
}

.photosInput {
  height: 100%;
  width: 100%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

.photosInput + label {
  font-size: 1.2em;
  font-weight: 700;
  color: white;
  display: inline-block;
}

.photosInput:focus + label,
.photosInput + label:hover {
  background-color: red;
}