.dialogs {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}
.active {
  color: gold;
}
.textAreaInput {
  margin-top: 40px;
  h4{
    margin: 5px 5px;
    font-weight: normal;
    font-size: 18px;
  }
}

//dialogs
//messages
//dialogs/21