.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas: "header header"
                        "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.header {
  grid-area: header;
  background-color: green;
}
.header img {
  width: 20px;
}
.nav {
  grid-area: nav;
  background-color: burlywood;

}
.content{
  grid-area: content;
  background-color: darkblue;

}