.descriptionBlock {
  padding: 10px;
}
.imgMain {
  max-width: 200px;
  margin-top: 20px;
  margin-left: 5px;
}
.profileInfoInput {
  margin-top: 10px;
}
.aboutMe {
  margin-bottom: 15px;
}
.contactsLists {
  display: flex;
  padding-left: 2px;
  div {
    li {
      list-style-type: none;
    }
  }
}
.contactsHeading {
  margin-bottom: 3px;
}